* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

body {
    background: #feb0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

input,
button {
    outline: none;
    border: none;
}

.contenedor {
    background: #fff;
    margin: 0 auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 95vh;
    border-radius: 15px;
    overflow: hidden;
}

.contenedor h1 {
    margin-top: 10px;
}

form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 3px 5px 10px #000;
}

form h2 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px
}

form .caja-input {
    width: 100%;
}

form .caja-input .input {
    width: 100%;
    font-size: 1.1rem;
    padding: 10px 5px;
    border-bottom: 2.9px solid #cccccc;
}

.boton {
   background-color: #F781F3;
   margin-top: 10px;
   font-size: 1.3rem;
   font-weight: 800;
   border-radius: 15px;
   box-shadow: 3px 0px 5px #eb12e4;
   cursor: pointer;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 300,
  'GRAD' 0,
  'opsz' 24
}

.lista {
    /* min-height: 200px; */
    max-height: 400px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    gap: 30px;
    flex-wrap: wrap;
    overflow-y: scroll;
}

.lista .nota {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 13px;
    border-radius: 6px;
    border-bottom: 1px solid #bbb;
    box-shadow: 2px 2px 3px #000;
    font-size: 1.2rem;
    transition: .3s linear;
}

.lista .nota .btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3px;
}

.lista .nota button {
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0ad2d2;
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
}
.lista .nota button span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
}
.lista .nota button:nth-child(2) {
    background: #f00;
}